<form action="/login" method="POST" class="margin-zero">
  <div class="login-container">
    <label for="username" class="margin-top">Username</label>
    <input type="text" name="username" />

    <label for="password" class="margin-top">Password</label>
    <input type="password" name="password" />

    <button type="submit" class="price-button margin-top">Log in</button>
  </div>
</form>



{{#if errorMessage}}
   {{errorMessage}}
{{/if}}