
<form action="/signup" method="POST">

    <label> email:
    <input type="text" name="email" />
  </label>
  <label> username:
    <input type="text" name="username">
  </label>

  {{!-- <label> firstName:
    <input type="text" name="firstName" />
  </label>

  <label> lastName:
    <input type="text" name="lastName" />
  </label>

  <label> adress:
    <input type="text" name="adress" />
  </label>

  <label> postBox:
    <input type="text" name="firstname" />
  </label> --}}

  <label> password:
    <input type="password" name="password" />
  </label>

  <button type='submit'>Signup</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}


