
<form action="/signup" method="POST" class="margin-zero">
<div class="login-container">
    <label for="email" class="margin-top">E-mail: </label>
    <input type="text" name="email" id="email" />
 
<label for="username" class="margin-top">Username</label>
    <input type="text" name="username" id="username" />

  {{!-- <label> firstName:
    <input type="text" name="firstName" />
  </label>

  <label> lastName:
    <input type="text" name="lastName" />
  </label>

  <label> adress:
    <input type="text" name="adress" />
  </label>

  <label> postBox:
    <input type="text" name="firstname" />
  </label> --}}

    <label for="password" class="margin-top">Password</label>
    <input type="password" name="password" id="password" />

  <button type="submit" class="price-button margin-top">Signup</button>
  </div>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}


