<h1>Adventures</h1>




<h3>Skydive</h3>
<img src="/images/Skydive Dubai.jpg" alt="Skydive Dubai">  <button type='submit'>Ask for inquiry</button>
<p><b>Price:</b>1599 AED</p>

<br>


<h3>Desert Safari</h3>
<img src="/images/desertDubai.jpg" alt="desertDubai">   <button type='submit'>Ask for inquiry</button>
<p><b>Price:</b>140 AED</p>



