<h1 class="heading">Adventures</h1>
<img src="/images/adventure.jpg" alt="" class="main-image" />
<div class="car-list-container">
  <div class="car-container">
    <h3>Skydive</h3>
    <img src="/images/Skydive Dubai.jpg" alt="Skydive Dubai" />
    <div class="car-price">
      <span class="price-span"><b>Price:</b>1599 AED</span>
      <button class="price-button" type="submit">Ask for inquiry</button>
    </div>
  </div>

  <div class="car-container">
    <h3>Desert Safari</h3>
    <img src="/images/desertDubai.jpg" alt="desertDubai" />
    <div class="car-price">
      <span class="price-span"><b>Price:</b>140 AED</span>
      <button class="price-button" type="submit">Ask for inquiry</button>
    </div>
  </div>
</div>














