<h1>Cars</h1>

{{#each cars}}
  <div>
    <h3>{{this.vehiclename}}</h3>
    <p>By: {{this.price}}</p>
    <img src="{{this.picture}}" alt="car-picture">
    <a href='/cars/{{this._id}}'>See details</a>
  </div>
{{/each}}

{{!-- if statement if car renders this, if boat renders this --}}