<h2>Create a new Car/Boat</h2>

<form action="/car/create" method="POST">
  <label> vehiclename:
    <input type="text" name="vehiclename" />
  </label>

  <label> vehicletype:
    <input type="text" name="vehicletype" />
  </label>

  <label> price:
    <input type="text" name="price" />
  </label>

    <label> size:
    <input type="text" name="size" />
  </label>

  <label> passengers:
    <input type="text" name="passengers" />
  </label>

  <label> picture:
    <input type="text" name="picture" />
  </label>


  <label> description:
    <input type="text" name="description" />
  </label>

 
  <button type="submit"> Create </button>
</form>









