<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/public/stylesheets/index.style.css">
</head>
<body>
      <div class="index-container">
      <a href="/">Home</a>
      <a href="/adventures">Adventures</a>
{{!--       <a href="/">Eng</a>
      <a href="/">NO</a> --}}

      </nav>

      <a href="/car-list">Cars</a>
      <a href="/boat-list">Boats</a>
      </div>
<h1>Dubai Adventures</h1>
<img src="/images/downtown.jpg" alt="">
    
</body>
</html>
