<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="body">
    <nav>
      <div class="navbar-container">
      <a href="/" class="float-left">Home</a>
      <a href="/adventures" class="float-left">Adventures</a>
{{!--       <a href="/">Eng</a>
      <a href="/">NO</a> --}}
   <a href="/car-list" class="float-left">Cars</a>
      <a href="/boat-list" class="float-left">Boats</a>
            <a href='/logout' class="float-right">Logout</a>
          <a href='/login'class="float-right">Login</a>
         <a href='/signup' class="float-right">Signup</a>
      </nav>

   
      </div>


    {{{body}}}
 
    <script src="/js/script.js"></script>
       <div class="navbar-container">
    <h5 class="footer-heading"><b>Contact us</b></h5>
  <a href="www.facebook.com">Facebook</a>
<a href="www.instagram.com">Instagram</a>
<a href="javascript:void(0);"><b>Telephone:</b>+47 993 45 678</a>
    </div>
  </body>

</html>