<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> 
<link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
      <div class="navbar-container">
      <a href="/car">Create new car</a>
      </nav>

      <a href="/car-list">Car List</a>
      </div>

    <div class="container">

        <nav>
      <ul>
        <li>
          <a href='/signup'>Signup</a>
        </li>
        <li>
          <a href='/login'>Login</a>
        </li>
        <li>
          <a href='/logout'>Logout</a>
        </li>

      </ul>
    </nav>

    {{{body}}}
    </div>
    <script src="/js/script.js"></script>
  </body>

</html>