<form action="/request" method="POST">
  <label> vehiclename:
    <input type="text" name="vehiclename" />
  </label>

  <label> vehicletype:
    <input type="text" name="startDate" />
  </label>

  <label> price:
    <input type="text" name="endDate" />
  </label>

    <label> size:
    <input type="text" name="location" />
  </label>

  <label> passengers:
    <input type="text" name="email" />
  </label>

  

  <button type="submit"> Request </button>
</form>



